<!doctype html>

<html>
	<head>
		<title>d2l-rubric-criteria-group test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="https://s.brightspace.com/lib/siren-parser/6.5.0/siren-parser.js"></script>
		<script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
		<script src="../../../web-component-tester/browser.js"></script>

		<link rel="import" href="../../d2l-rubric-criteria-group.html">
	</head>
	<body>
		<test-fixture id="basic-criteria">
			<template>
				<d2l-rubric-criteria-group></d2l-rubric-criteria-group>
			</template>
		</test-fixture>
		<script src="d2l-rubric-criteria-group.js"></script>
	</body>
</html>
