<!doctype html>

<html>
	<head>
		<title>d2l-rubric test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
		<script src="../../../web-component-tester/browser.js"></script>

		<link rel="import" href="../../d2l-rubric.html">
	</head>
	<body>
		<test-fixture id="basic">
			<template>
				<d2l-rubric></d2l-rubric>
			</template>
		</test-fixture>
		<script src="d2l-rubric.js"></script>

		<test-fixture id="rub-text-only">
			<template>
				<d2l-rubric href='data/rubrics/organizations/text-only/199.json' token='foozleberries'></d2l-rubric>
			</template>
		</test-fixture>
		<script src="d2l-rubric-text-only.js"></script>

		<script>
			a11ySuite('basic');
		</script>
	</body>
</html>
